<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body{
            background-image: url("/notfound.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .message{
            margin: 100px auto;
            max-width: 80%;
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('_header')%>
    <main>
    <div class="message">
        <h1>Oops!! something went wrong</h1>
        <h3><%=errorMessage%></h3>
    </div>
    </main>
</body>
</html>